.main-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.main-block div {
    margin-top: 5px;
    margin-left: 2px;
}

h3 {
    margin-bottom: 0px;
}

.btn-general {
    background-color: rgb(85, 85, 85);
    border: none;

    color: white;
    padding: 4px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.os-font {
    font-family: 'Mulish', sans-serif;
}

@font-face {
    font-family: 'San Francisco Pro Display Semibold Italic';
    src: url('SFProDisplay-Bold.eot');
    src: url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Bold.woff') format('woff'),
    url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.sf-font {
    font-family: 'San Francisco Pro Display Semibold Italic';
}

.colorfy {
    color: #950EDD;
}