<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <title>Пробный запуск</title>
</head>
<body>
    <div class="container">
        <div class="column" id="column">
            <div class="search-box">
                <input type="text" tabindex=1 onfocus="this.value=''" id='food-to-search' value="Start typing ingredients">
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/post-input.js') }}"></script>
</html>