<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <title>Пробный запуск</title>
</head>
<body>
    <div class="container">
        <div id="column" class="column">
            
            <p>Available: apple, orange, banana, coconut</p>
            <h3 class='sf-font colorfy'>Primarymeal</h3>
            <div class="search-box">
                <div class="send">
                    <input id="food-to-search" type="text">
                    <button id="search-btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/post-input.js') }}"></script>
</html>